@{
    ViewBag.Title = "OnOrOffLed";
    Layout = null;
}

<h2>OnOrOffLed</h2>
<button id="btnOnOff" onclick="API()">@ViewData["led"]</button>
<script>
    function API() {
        var xhttp = new XMLHttpRequest();
        var ihtml = document.getElementById('btnOnOff').innerHTML;
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText === "OK") {
                    if (ihtml === 'on') {
                        document.getElementById('btnOnOff').innerHTML = 'off';
                    } else {
                        document.getElementById('btnOnOff').innerHTML = 'on';
                    }
                }
            }
        }
        xhttp.open("GET", "./setLed", true);
        xhttp.send();
    }
</script>
